@import "reset";
@import "colors";
@import url(http://fonts.googleapis.com/css?family=Crimson+Text);
@import "type";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: $beige;
  color: $slate;
  font-family: Crimson Text;
}

h1 {
  padding: 40px;
  margin: 20px;
  text-align: center;
}

.container {
  width: 800px;
  max-width: 90%;
}

.about {
  padding: 30px;
  margin: 30px;
  // float: left;
  background-color: $orangey;
}
