@import 'reset';
@import 'colors';
@import 'type';

*, *:before, *:after {
  box-sizing: border-box;
}


body {
  background: $green;
  color: $evergreen;
}

.container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.left {
  float: left;
  width: 25%;
  height: 1000px;
  background-color: $creme;
}

.right {
  float: right;
  width: 25%;
  height: 1000px;
  background-color: $lightblue;
}

.header {
  float: left;
  width: 50%;
  height: 100%;
  background-color: $purple;
}
